body {
    background-color: #000000;
}

.butongreen {
    background-color: #3a8c3a;
}

.black-icon {
    color: black;
}

.dropdown-menu .logout {
    color: red;
}
.dropdown-menu .logout:hover {
    color: darkred;
}
.img-thumbnail-custom {
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    width: 100%;
    height: 100%;
}
.image-container {
    padding-top: 100%; /* Mantiene la proporción cuadrada */
    position: relative;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
